* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1240px;
  background-color: yellow;
  box-sizing: border-box;
}

#game{
  border: 1px solid red;
  margin-top: 22px;
  /*padding-left: 20%;
  padding-right: 20%*/
  padding-bottom: auto;

  height: 500px;
}
#barra{
  border: 1px solid blue;
  width: 100%;
  overflow: hidden;
  height: auto;
}
h1{
  font-size: 20px;
  float: left;
}
.button{
  border-radius: 23px 23px 23px 23px;
  border:2px solid red;
  float: right;
font-size: 30px;
padding-left: 13px;
margin-top: 4px;
margin-right: 10px;
margin-bottom: 4px;
padding-right: 13px;
}
.button:hover{
    cursor: pointer;
  font-size: 32px;
}
